<div class="container-login">
  <mat-card class="card">
   <mat-card-header class="header-card">
     <img src="https://wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/logo-icon.png" alt="" srcset="">
     <h4>Login to App</h4>
     <p>Ingresa tu <strong>Username</strong> y <strong>password</strong></p>
   </mat-card-header>
 
   <mat-card-content>
     <form class="form">
       <mat-form-field class="form-full-width" appearance="fill">
         <mat-label>Username</mat-label>
         <input matInput placeholder="Username">
         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       </mat-form-field><mat-form-field class="form-full-width" appearance="fill">
         <mat-label>Password</mat-label>
         <input matInput placeholder="Password">
         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       </mat-form-field>
  
     </form>
 
     <div class="actions-login">
       <button mat-raised-button color="primary">Ingresar!</button>
 
       <div class="register-login">
           <p>No tienes una cuenta ? </p>
           <a href=""><strong>Registrarse ahora !</strong></a>
       </div>
     </div>
   </mat-card-content>
 
 
 </mat-card>
 
 
 <button class="info" mat-fab color="primary" aria-label="Example icon button with a delete icon">
   <mat-icon>question_answer</mat-icon>
  
 </button>
</div>
 
