

  <mat-drawer-container class="sidebar-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-sidenav-container>
            <mat-sidenav>
                <mat-nav-list>
        
                       <a mat-list-item >usuario</a>
                       <a mat-list-item >empresa</a>
                       <a mat-list-item >pedidos</a>
                       <a mat-list-item >menu</a>
              
                </mat-nav-list>
            </mat-sidenav>
        </mat-sidenav-container>
    
    </mat-drawer>
  
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="drawer.toggle()"  aria-label="Example icon-button with menu icon">
    
            
            <mat-icon>menu</mat-icon>
          </button>
          <span>SysPedidos</span>
          <span class="example-spacer"></span>
        
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
 
  </mat-drawer-container>
  